@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
.page-section--bg {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  .page-section--bg {
    padding: 70px 0;
  }
}

.page-section--img {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .page-section--img {
    padding: 70px 0;
  }
}

.page-section--resent {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .page-section--resent {
    padding: 70px 0;
  }
}

.page-section--team {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .page-section--team {
    padding: 70px 0;
  }
}

.page-section--techologies {
  padding-top: 100px;
}

.page-section--res {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.button {
  padding: 13px 24px;
  border-radius: 5px;
  color: #FFF;
  font-family: outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .button {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
  }
}
.button:hover {
  opacity: 0.7;
}

.button--blue {
  background-color: var(--action-blue);
}

.button--black {
  background-color: var(--bgbg-gray);
}

.button--purple {
  background-color: var(--action-purple);
}

.button--gray {
  background-color: var(--text-text-gray);
  color: var(--text-text);
}

.icon-btn {
  display: flex;
  transition: all 0.5s ease;
}
@media (max-width: 991px) {
  .icon-btn {
    display: none;
  }
}

.subcrible__btn {
  justify-content: center;
  padding-top: 55px;
  gap: 6px;
}
@media (max-width: 768px) {
  .subcrible__btn {
    flex-direction: column;
  }
}

.button-form {
  justify-content: center;
  align-items: center;
  gap: 6px;
}

@media (max-width: 991px) {
  .icon-btn {
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    display: none;
    left: 0;
    top: -100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    z-index: -1;
  }
  .icon-btn.show {
    left: 0;
    top: 40vh;
    z-index: -1;
  }
}
@media (max-width: 991px) {
  ul.icon-btn {
    flex-direction: column;
  }
}
.text-green {
  color: var(--action-green);
}

.text-item {
  letter-spacing: -0.3px;
  color: var(--text-heading);
  line-height: 1.7;
}

.text--text {
  color: var(--text-text);
}

.text--blue {
  color: #4F77FF;
}

.text--uppercase {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 20px;
}

.text-box {
  align-items: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
  text-align: center;
}

.text-box__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -2px;
}
@media (max-width: 991px) {
  .text-box__title {
    font-size: 40px;
  }
}

.text-box__content {
  font-size: 22px;
  line-height: 1.45; /* 145.455% */
  letter-spacing: -1px;
  padding-bottom: 40px;
}

.pos-re {
  position: relative;
}

.text-box__title--size {
  font-size: 64px;
  line-height: 1.16;
}
@media (max-width: 991px) {
  .text-box__title--size {
    font-size: 50px;
  }
}

.text-box--width {
  max-width: 970px;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.subcribe-bg {
  background-size: 100% 100%;
  background-image: url("../images/BG footer.png");
  padding-top: 100px;
  padding-bottom: 100px;
}

.subcribe {
  text-align: center;
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
}

.subcribe__title {
  line-height: 1.16;
  letter-spacing: -2px;
  padding: 15px 0;
  font-size: 48px;
}
.subcribe__title span {
  color: var(--action-green);
}

.subcribe__content {
  padding: 15px 0;
}

.input {
  padding: 11px 18px;
}
@media (max-width: 991px) {
  .input {
    padding: 9px 18px;
  }
}

.subcribe__input--bg {
  background-color: #E7E5EA;
}
@media (max-width: 1199px) {
  .subcribe__input--bg {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .subcribe__input--bg {
    width: unset;
  }
}

.button-form__input--bg {
  background-color: #E7E5EA;
}
@media (max-width: 1199px) {
  .button-form__input--bg {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .button-form__input--bg {
    width: unset;
  }
}

.button-form__input {
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  font-family: "DM sans";
}

.subcribe__input {
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  font-family: "DM sans";
}

.input--search {
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  font-family: "DM Sans";
}
@media (max-width: 1199px) {
  .input--search {
    width: 100%;
  }
}

.select {
  border-radius: 5px;
  outline: none;
  border: 1px solid #E7E5EA;
  padding-left: 20px;
  padding-right: 20px;
  color: #7B88A8;
  cursor: pointer;
  font-size: 16px;
  font-family: "DM Sans";
  height: 48px;
  width: 100%;
}

.write-input__item {
  padding: 11px 18px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  color: #7B88A8;
  width: 100%;
  opacity: 0.7;
  font-family: "DM Sans";
}

.write-input {
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.blog-comments__enter {
  width: 100%;
  min-height: 170px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  padding-left: 16px;
  padding-top: 11px;
  opacity: 0.7;
  resize: vertical;
  border-radius: 5px;
  font-family: "DM SANS";
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.sidebar {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1199px) {
  .sidebar {
    max-width: 235px;
  }
}

.sidebar-box {
  background-color: var(--bgbg-light);
  border-radius: 5px;
  padding: 20px 30px;
  width: 100%;
}

.sidebar-box__title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.44px;
  color: var(--text-heading);
}

.sidebar-box__content {
  position: relative;
  line-height: 1.7;
  letter-spacing: -0.3px;
  align-items: start;
}

.sidebar-box__content i {
  position: absolute;
  right: 45px;
  top: 33%;
  cursor: pointer;
}

.sidebar-box__content--gap {
  gap: 15px;
  padding-bottom: 20px;
  font-family: "DM Sans";
  transition: all 0.3s ease-in-out;
}
.sidebar-box__content--gap:nth-last-child(1) {
  padding-bottom: 0;
}
.sidebar-box__content--gap:hover {
  color: var(--text-heading);
  scale: 1.1;
}

@media (max-width: 1199px) {
  .sidebar-box__img {
    width: 100%;
  }
}

.sidebar-box__content--tags {
  flex-wrap: wrap;
  gap: 5px;
}

@media (max-width: 999px) {
  .sidebar--flex {
    max-width: 100%;
  }
}

.back {
  position: absolute;
  background-image: url(../images/BG.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 370px;
  z-index: -1;
}
.back::before {
  content: "";
  position: absolute;
  background-color: var(--text-dark-alt, #321370);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1;
}

.sidebar-box--bg {
  padding: 0;
  position: relative;
  border-radius: 5px;
}
.sidebar-box--bg::before {
  content: "";
  position: absolute;
  background-color: var(--text-dark-alt, #321370);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.7;
}
@media (max-width: 999px) {
  .sidebar-box--bg {
    width: unset;
  }
}

.siderbar-subscribe {
  position: absolute;
  top: 50px;
  transform: translateY(50%);
  width: 100%;
  text-align: center;
}

.siderbar-subscribe__title {
  padding-bottom: 40px;
  font-size: 22px;
  font-family: outfit;
  color: #fff;
  line-height: 1.45;
}

.blog-text__right {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.4px;
  font-family: outfit;
}

.sidebar-shop__title {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lines-gray-line);
  padding-bottom: 25px;
}

.sidebar-shop {
  width: 100%;
  padding-bottom: 20px;
}

.sidebar-shop__content {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
  color: var(--text-heading);
}

.sidebar-checkbox {
  justify-content: space-between;
  align-items: center;
  font-family: "DM SANS";
}

.sidebar-checkbox--pb {
  padding-bottom: 6px;
}

.sidebar-shop__item {
  padding-top: 25px;
}

.sidebar-checkbox__content {
  gap: 10px;
  align-items: center;
  font-family: "DM Sans";
}

.sidebar-checkbox--pd {
  padding-left: 25px;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}

.sidebar-checkbox__input {
  background-color: var(--text-text-gray);
  width: 15px;
}

.sidebar-checkbox__item {
  letter-spacing: -0.3px;
  color: var(--text-heading);
  line-height: 1.7;
}

.sidebar-checkbox__item--color {
  color: var(--text-text);
}

.sidebar-checkbox--text {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 20px;
}

.sidebar-checkbox__item--text {
  color: #4F77FF;
}

input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=checkbox]::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 12px;
  content: "\f00c";
  color: #fff;
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
}

input[type=checkbox]:checked {
  background-color: #292929;
}

input[type=checkbox]:checked::after {
  opacity: 1;
  display: block;
}

input[type=radio] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-color: var(--box-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

input[type=radio]:checked {
  background-color: var(--box-color);
  border: 1px solid;
}

.price {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: var(--lines-gray-line);
  margin-top: 15px;
}
.price::before {
  position: absolute;
  content: "";
  background-color: var(--action-blue);
  height: 2px;
  width: calc(100% - 49px);
  right: 0;
}

.price__content {
  justify-content: space-between;
  padding-top: 20px;
}
@media (max-width: 991px) {
  .price__content {
    font-size: 13px;
  }
}
@media (max-width: 799px) {
  .price__content {
    font-size: 18px;
  }
}

.price__box {
  justify-content: space-between;
}

.price__dot--left {
  padding-left: 35px;
}
.price__dot--left::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--action-blue);
  border-radius: 50%;
  top: -5px;
  transform: translateX(10px);
}

.price__dot {
  padding-top: 5px;
  color: var(--text-heading);
  letter-spacing: -0.3px;
  line-height: 1.7;
  position: relative;
}

.price__dot--right::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--action-blue);
  border-radius: 50%;
  top: -5px;
  right: 0;
}

.blog__icon-tab {
  display: none;
}
@media (max-width: 991px) {
  .blog__icon-tab {
    display: block;
  }
}

@media (max-width: 991px) {
  .sidebar--js {
    display: none;
  }
  .sidebar {
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    line-height: 100px;
    font-size: 18px;
    transition: all 0.5s ease;
  }
}
@media (max-width: 991px) {
  div.bar {
    display: block;
  }
}
@media (max-width: 799px) {
  .sidebar {
    max-width: 100%;
    margin-bottom: 100px;
  }
}
.page-section--light {
  background-color: var(--bgbg-light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.client-box {
  border-radius: 20px;
  background: var(--color-5, #FFF);
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  transition: all 0.3s ease-in;
  min-height: 100%;
}
.client-box:hover {
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
}

.client-box__img {
  border-radius: 50%;
}

.client-box__name {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45; /* 145.455% */
  letter-spacing: -1px;
  padding-top: 10px;
  color: var(--text-heading);
}

.client-box__brand {
  font-family: "DM Sans";
  font-size: 16px;
  padding-bottom: 10px;
}

.client-box__amazing {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
  color: var(--text-heading);
}

.client-box__content {
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  letter-spacing: -0.3px;
  padding-top: 25px;
}

.client-circle {
  width: 100px;
  height: 100px;
  background-color: var(--bgbg-gray, #292F3A);
  border-radius: 50%;
  right: 0;
  position: absolute;
  bottom: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #FFF;
  font-size: 14px;
}

.dots-img {
  position: absolute;
}

.dots-img--orange {
  left: 30%;
  bottom: 0%;
}
@media (max-width: 1200px) {
  .dots-img--orange {
    display: none;
  }
}

.dots-img--black {
  left: 30px;
  top: 85px;
}
@media (max-width: 1200px) {
  .dots-img--black {
    display: none;
  }
}

.team-box {
  background-color: var(--bgbg-light);
  border-radius: 20px;
  text-align: center;
  padding-bottom: 30px;
}

.team-box__name {
  font-size: 22px;
  line-height: 1.5; /* 145.455% */
  letter-spacing: -1px;
  color: var(--text-heading);
  padding-top: 25px;
}

.team-box__function {
  font-family: DM Sans;
  font-size: 16px;
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 30px;
}

.team-social {
  gap: 18px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

@media (max-width: 991px) {
  .experience {
    text-align: center;
  }
}

.experience__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.27; /* 127.778% */
  letter-spacing: -1px;
  color: var(--text-heading);
  padding-bottom: 30px;
}

.experience__content {
  font-family: DM Sans;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding-bottom: 50px;
}

.experience__video {
  color: #886CFF;
  transition: all 0.3s ease-in-out;
}
.experience__video:hover {
  color: var(--action-green);
}

.experience__what {
  color: #886CFF;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.experience__what:hover {
  color: var(--action-green);
}

.experience-box {
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  padding: 45px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  min-height: 270px;
  max-width: 270px;
}

.experience-box__content {
  font-family: DM Sans;
  font-size: 16px;
  text-align: center;
}

.experience-box__title {
  font-size: 22px;
  line-height: 1.45; /* 145.455% */
  letter-spacing: -1px;
  color: var(--text-heading);
}

.experience-box--blue {
  background: linear-gradient(224deg, #61DCDF 0%, #886CFF 100%);
  color: #fff;
}

.experience-box__title--white {
  color: #fff;
}

.experience-video--white {
  color: #fff;
  transition: all 0.2s ease;
  text-align: center;
}
.experience-video--white:hover .experience-video__what--white {
  color: black;
}
.experience-video--white:hover i {
  color: black;
}

.experience-video__what--white {
  color: #fff;
  transition: all 0.3s ease;
}

.col-style--top {
  position: absolute;
  top: -50px;
  right: 100px;
  transform: translateY(-70px);
}

.col-style--bot {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(20px);
}

.col-style--mid {
  position: absolute;
  right: 400px;
}

.col-style--text {
  position: relative;
  left: 100px;
}

.page-header {
  width: 100%;
  padding: 20px 0;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: 0.3s;
  position: fixed;
}

.icon-btn__bag {
  position: relative;
}
.icon-btn__bag::before {
  content: "";
  position: absolute;
  background-color: red;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  left: 60%;
}

@media (max-width: 991px) {
  .header-right.show {
    flex-wrap: wrap;
  }
  ul.show {
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
  }
  .btn.show {
    left: 0;
    top: 450px;
    z-index: -1;
  }
  .btn.show .modal-overlay {
    display: block;
  }
}
.modal-overlay {
  width: 100%;
  height: 160vh;
  transition: all 0.3s;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-right__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  transition: all 0.5s ease;
}
@media (max-width: 991px) {
  .header-right__list {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    left: 0;
    top: -100%;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    z-index: -1;
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 156px;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  .header-right {
    gap: 50px;
  }
}

.header {
  justify-content: space-between;
  align-items: center;
}

.header-right__link--blog {
  color: var(--text-heading);
}

.header-right__link {
  transition: all 0.3s ease-in;
}
.header-right__link:hover {
  color: var(--text-heading);
}

.header-right__items {
  position: relative;
}
.header-right__items::before {
  content: "";
  position: absolute;
  background-color: var(--action-green);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 50%;
  top: -20%;
  transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .header-right__items::before {
    background-color: #fff;
    display: none;
  }
}

.header-taskbar {
  display: none;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 991px) {
  .header-taskbar {
    display: block;
  }
}

.sticky {
  background-color: white;
  padding: 10px 0;
  box-shadow: 0px 5px 6px -6px #999999;
}

.icon-btn {
  gap: 30px;
  align-items: center;
}

.header-logo__icon {
  gap: 10px;
}

.page-footer {
  background-color: var(--bgbg-gray);
  padding-top: 70px;
}
@media (max-width: 767px) {
  .page-footer {
    padding-top: 50px;
  }
}

.footer-logo__icon {
  gap: 10px;
}

.footer-logo__item {
  color: #fff;
}

.footer-box__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .footer-box__title {
    font-size: 16px;
  }
}

.footer-box {
  display: flex;
  flex: 10px;
  flex-direction: column;
}

.footer-box__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #E7E5EA;
  padding-top: 10px;
}
@media (max-width: 576px) {
  .footer-box__item {
    font-size: 10px;
  }
}

.footer-newsletter__content {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  color: #E7E5EA;
  line-height: 1.62; /* 162.5% */
  padding-bottom: 25px;
}
@media (max-width: 576px) {
  .footer-newsletter__content {
    font-size: 12px;
  }
}

.button-form--fs {
  justify-content: flex-start;
}

.footer-newsletter__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .footer-newsletter__title {
    font-size: 16px;
  }
}

.footer-bottom__content {
  color: #E7E5EA;
  font-weight: 400;
}

.footer-bottom {
  justify-content: space-between;
  padding: 27px 0;
  align-items: center;
}

.footer-bottom__icon {
  gap: 20px;
}

.row--border {
  border-bottom: 1px solid var(--text-text);
  padding-bottom: 100px;
}

.tags-item {
  padding: 0 5px;
  background-color: var(--action-blue);
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: -0.3px;
  font-family: "DM Sans";
  transition: all 0.3s ease-in-out;
}
.tags-item:hover {
  opacity: 0.5;
}

.banner-overlay {
  background-size: 100% 100%;
  background-image: url("../images/Hero.png");
}

.page-home {
  text-align: center;
}

.banner-center__title {
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
  padding: 15px 0;
}

.banner-flex {
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.banner-center__text-home {
  text-transform: uppercase;
  font-family: outfit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: var(--text-heading);
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}
.banner-center__text-home:hover {
  color: var(--text-text);
}

.banner-center_text-blog {
  text-transform: uppercase;
  font-family: outfit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  position: relative;
  margin-left: 20px;
}
.banner-center_text-blog::before {
  content: "";
  width: 1px;
  height: 15px;
  bottom: 3px;
  position: absolute;
  background-color: #7B88A8;
  left: -20px;
  transform: rotateZ(18deg);
}

.blog-comments {
  border: 1px solid rgba(97, 119, 152, 0.2);
  padding: 0 30px 50px 30px;
}

.comments__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
  color: var(--text-heading);
  padding-bottom: 30px;
  padding-top: 40px;
}

.blog-box__comment {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
  color: var(--text-heading);
  padding-bottom: 30px;
}

.blog-comments__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
  color: var(--text-heading);
  padding-bottom: 30px;
  padding-top: 40px;
}

.comments__title--bd {
  border-bottom: 1px solid rgba(97, 119, 152, 0.2);
}

.comments-title--bd {
  border-bottom: 1px solid rgba(97, 119, 152, 0.2);
}

.comments__first {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: "DM Sans";
  align-items: start;
  gap: 30px;
  display: flex;
}

.comments__first--bd {
  border-bottom: 1px solid rgba(97, 119, 152, 0.2);
}

.comments-inf {
  justify-content: space-between;
}

.comments-pd__content {
  padding-top: 25px;
  font-size: 16px;
}

.comments-inf__name {
  color: var(--text-heading);
  font-size: 16px;
}

.comments-inf__date {
  font-weight: 500;
}

.comments-pd__item {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-family: outfit;
}

.comments-pd__reply {
  color: var(--action-blue);
  align-items: center;
  padding-left: 10px;
  padding-top: 40px;
}

.pagination {
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.pagination__item {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  width: 50px;
  height: 50px;
  line-height: 1.7; /* 171.429% */
  letter-spacing: -0.3px;
  transition: all 0.3s ease;
}
.pagination__item:hover {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--action-blue);
  cursor: pointer;
}
.pagination__item:nth-child(3) {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--action-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

:root {
  --grid: 12;
  --grid-container-width: 1700px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
  --text-heading: #2D3958;
  --text-text:#7B88A8;
  --action-blue: #4F77FF;
  --bgbg-light:#F8FAFC;
  --text-dark-alt: #321370;
  --bgbg-white:#ffff;
  --action-purple: #886CFF;
  --action-blue: #4F77FF;
  --lines-gray-line: #E7E5EA;
  --action-green: #34C635;
  --bgbg-gray: #292F3A;
  --bgbg-gray: #292F3A;
  --text-text-gray:#E7E5EA;
  --purple-gradient: #61dcdf #886cff;
}

body {
  background-color: #fff;
  color: #7B88A8;
  font-family: outfit;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Outfit;
  font-weight: 600;
  line-height: 1.4;
  color: var(--text-heading, #2D3958);
  font-feature-settings: "clig" off, "liga" off;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

li {
  list-style: none;
  font-family: outfit;
}

a {
  text-decoration: none;
  color: #7B88A8;
}

.d-flex {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.pl-25 {
  padding-left: 25px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1200px;
}

.container--owl {
  max-width: 1600px;
  margin-right: -25px;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-col-gap-vertical) / -2);
  margin-right: calc(var(--grid-col-gap-vertical) / -2);
}

.col {
  width: calc(var(--col-xs) / var(--grid) * 100%);
  padding-left: calc(var(--grid-col-gap-vertical) / 2);
  padding-right: calc(var(--grid-col-gap-vertical) / 2);
  padding-top: var(--grid-col-gap-horizontal);
}

@media (min-width: 768px) {
  .col {
    width: calc(var(--col-xs) / var(--grid) * 100%);
  }
}
@media (min-width: 992px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (min-width: 1100px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (min-width: 1200px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
.single-product {
  gap: 130px;
}
@media (max-width: 1200px) {
  .single-product {
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .single-product {
    flex-wrap: wrap;
  }
}

.product-left {
  width: 100%;
  min-width: 570px;
}
@media (max-width: 1200px) {
  .product-left {
    min-width: unset;
  }
}

.product-left__img {
  width: 100%;
}

.product-right__title {
  line-height: 1.19;
  letter-spacing: -0.84px;
  font-weight: 500;
}

.product-right__content {
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 18px;
  color: var(--text-text);
  letter-spacing: -0.3px;
}

.fa-star {
  color: #FFC200;
}

.text-color {
  color: var(--action-blue);
}

.product-right {
  width: 100%;
}

.product-right__text {
  font-size: 16px;
  width: 100%;
  padding-top: 30px;
}

.product-content__text {
  font-size: 16px;
  width: 100%;
  padding-top: 15px;
  font-family: "DM Sans";
}

.product-box {
  padding-top: 100px;
}

.product-right__text-color {
  color: var(--text-heading);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-top: 40px;
}

.product-circle {
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.product-circle__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.product-circle__item:nth-last-child(3) {
  background-color: #F7F5F1;
  stroke: var(--lines-gray-line, #E7E5EA);
}
.product-circle__item:nth-last-child(2) {
  background-color: #5E756F;
  stroke: var(--lines-gray-line, #E7E5EA);
}
.product-circle__item:nth-last-child(1) {
  background-color: #F2E0DC;
  stroke: var(--lines-gray-line, #E7E5EA);
}

.hove-a {
  width: 22px;
  height: 22px;
  text-align: center;
  transition: all 0.3s ease;
}
.hove-a:hover {
  color: #000;
}

.product-input__number {
  width: 98px;
  border-radius: 5px;
  padding: 11px 34px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.7;
}
@media (max-width: 991px) {
  .product-input__number {
    padding: 4px 30px;
  }
}

.fa-solid--top {
  transform: translate(-30px, -5px);
  opacity: 0.7;
}

.fa-solid--bt {
  transform: translate(-46px, 10px);
  opacity: 0.7;
}

.button-transform {
  transform: translateX(-25px);
}

.product-input {
  padding-bottom: 30px;
}

.social-flex {
  display: flex;
  gap: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #E7E5EA;
  align-items: center;
}

.social-flex__border {
  border-right: 1px solid var(--text-text);
  height: 16px;
}

.social-flex__right {
  gap: 20px;
}

.product-right__tag {
  padding-top: 15px;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E5EA;
}

.product-right__SKU {
  color: var(--text-heading);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.product-right__category {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: var(--text-heading);
}
.product-right__category span {
  color: var(--action-blue);
}

.product-tag__item {
  color: var(--text-heading);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.product-tag {
  gap: 40px;
  justify-content: center;
  border-bottom: 1px solid #E7E5EA;
  padding-top: 100px;
  padding-bottom: 30px;
}

.product-tag__item--blue {
  position: relative;
}
.product-tag__item--blue::before {
  content: "";
  position: absolute;
  background-color: var(--action-green);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 50%;
  top: -20%;
  transform: translate(-50%, -50%);
}

.menu__items--blog {
  position: relative;
}
.menu__items--blog::before {
  content: "";
  position: absolute;
  background-color: var(--action-green);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 50%;
  top: -20%;
  transform: translate(-50%, -50%);
}

.product-content {
  gap: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #E7E5EA;
}

.product-box__title {
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: -0.84px;
  text-align: center;
  padding-bottom: 50px;
}

.subcribe__content {
  font-size: 22px;
}

.product-right__star {
  padding-bottom: 15px;
}

.blog {
  gap: 65px;
}
@media (max-width: 1199px) {
  .blog {
    gap: 30px;
  }
}
@media (max-width: 800px) {
  .blog {
    flex-direction: column;
  }
}

@media (max-width: 999px) {
  .blog--flex {
    flex-direction: column;
    max-width: 100%;
  }
}

.ul-icon {
  display: none;
}
@media (max-width: 991px) {
  .ul-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

.blog-box__img img {
  width: 100%;
}

.blog__main {
  min-width: 835px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  display: flex;
}
@media (max-width: 1199px) {
  .blog__main {
    min-width: unset;
  }
}

.blog-social__tag {
  gap: 5px;
  display: flex;
  align-items: center;
}

.blog-text__title {
  padding-bottom: 15px;
  padding-top: 20px;
  font-size: 36px;
  line-height: 1.27;
  letter-spacing: -1px;
  font-weight: 500;
  transition: 0.3s all ease-in;
}
.blog-text__title:hover {
  opacity: 0.7;
}

.blog-text__content {
  padding-bottom: 40px;
  padding-top: 30px;
  font-family: "DM Sans";
  font-size: 16px;
}

.blog-text {
  padding-top: 15px;
  font-size: 16px;
  padding: 25px 40px 40px 40px;
}

.blog-box__content {
  padding: 25px 40px 40px 40px;
}

.blog-item--text {
  padding-bottom: 40px;
}

.blog-item--content {
  padding-top: 40px;
  padding-bottom: 30px;
}

.blog-item {
  font-size: 16px;
  font-family: "DM sans";
  padding-top: 30px;
}

.blog-item--bg {
  background-color: var(--bgbg-light);
  padding: 30px 50px;
  border-radius: 5px;
}

.blog-item__size {
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 1.55;
  color: var(--text-heading);
}

.blog-text__content--color {
  color: var(--text-heading);
}

.blog-social {
  justify-content: space-between;
  padding-top: 50px;
}

.blog-text__header {
  justify-content: space-between;
  padding-bottom: 20px;
}

.blog-text__left {
  gap: 10px;
  text-transform: uppercase;
  align-items: center;
}

.blog-text__author-name {
  font-weight: 500;
  letter-spacing: -0.3px;
}

.blog-social__content {
  gap: 20px;
}
.blog-social__content a {
  transition: all 0.3s ease;
}
.blog-social__content a:hover {
  opacity: 0.7;
}

.blog-title {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -1px;
}

.blog-box {
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
}

.blog-box--bd {
  border: unset;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--lines-gray-line, #E7E5EA);
}

.blog-box--bg {
  background-color: var(--bgbg-light);
  padding: 20px 40px 50px 40px;
}

.blog-related {
  gap: 32px;
  width: 100%;
}

.blog-related__content {
  width: 100%;
  gap: 20px;
  min-height: 100%;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.blog-related__item {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: var(--text-heading);
  font-family: "DM Sans";
  transition: all 0.3s ease;
}
.blog-related__item:hover {
  opacity: 0.7;
}

.shop-box__title {
  color: var(--text-heading);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.shop-box--style {
  justify-content: space-between;
  align-items: center;
}

.blog-main__style {
  gap: unset;
}

.shop-box {
  width: 100%;
  border-bottom: 1px solid var(--lines-gray-line);
  padding-bottom: 10px;
}

.select--width {
  width: 210px;
}

.shop-product {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  min-height: 100%;
  transition: all 0.3s ease-in-out;
}
.shop-product:nth-last-child(1), .shop-product:nth-last-child(2), .shop-product:nth-last-child(3) {
  padding-bottom: 40px;
}
.shop-product:hover .shop-product__img {
  padding-top: 0;
}

.product-img img {
  transition: all 0.3s ease-in-out;
}
.product-img img:hover {
  scale: 1.1;
}

.shop-product__img {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 270px;
  padding-top: 10px;
  transition: all 0.5s ease-in-out;
  background-color: var(--bgbg-light);
}

.shop-product__item {
  max-width: 100%;
  transition: all 1s;
  transform: scale(1);
}
.shop-product__item:hover {
  transform: scale(1.2);
}

.shop-product__title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-heading);
  letter-spacing: 0.4px;
  text-align: center;
}

.shop-product__content {
  font-size: 16px;
  color: var(--text-text);
  text-align: center;
  font-family: "DM sans";
}

.pagination--style {
  padding-top: 40px;
}

.porfolio-home {
  text-align: center;
  padding: 0 30px;
}

.porfolio-home__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.12; /* 112.5% */
  letter-spacing: -2px;
  padding-bottom: 60px;
}
@media (max-width: 991px) {
  .porfolio-home__title {
    font-size: 54px;
  }
}

.porfolio-home__items {
  flex-direction: column;
  gap: 30px;
}

.row--pb {
  padding-bottom: 70px;
}

.porfolio-home__img {
  width: 100%;
}

.resent-project {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

.resent-project__item {
  gap: 15px;
}

.porfolio-home__box {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.porfolio-home__img {
  max-width: 100%;
  transition: all 1s;
  transform: scale(1);
}
.porfolio-home__img:hover {
  transform: scale(1.2);
}

.resent-project__arrow {
  width: 55px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #FFF;
  border: 1px solid #E7E5EA;
}

.project-img {
  border-radius: 20px;
}

.resent-project__arrow--left {
  background-color: var(--action-blue);
  color: #fff;
}

.pos-re {
  position: relative;
}

.project-text {
  position: absolute;
  top: 80px;
  transform: translateX(43%);
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1200px) {
  .project-text {
    transform: translateX(33%);
  }
}
@media (max-width: 991px) {
  .project-text {
    transform: translateX(43%);
  }
}

.project-title__title {
  text-align: center;
  color: var(--text-text-white, #FFF);
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -1px;
}

.project-resent {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}

.project-title__content {
  color: var(--text-text-gray, #E7E5EA);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  letter-spacing: -0.3px;
}

.porfolio-tip__title {
  color: var(--text-heading);
  font-size: 22px;
  line-height: 1.45; /* 145.455% */
  letter-spacing: -1px;
  padding-bottom: 30px;
  transition: all 0.3s ease;
}
.porfolio-tip__title:hover {
  color: var(--text-text);
}

.porfolio-tip__content {
  font-family: DM Sans;
  font-size: 18px;
  letter-spacing: -0.3px;
  transition: all 0.3s ease;
  padding-bottom: 25px;
}
.porfolio-tip__content:hover {
  opacity: 0.7;
}

.porfolio-tip__time {
  color: var(--action-blue);
  align-items: center;
  gap: 5px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--text-text-gray);
}

.porfolio-tip__date {
  font-family: DM Sans;
  line-height: 1.7; /* 171.429% */
  letter-spacing: -0.3px;
  opacity: 0.7;
  color: var(--text-text);
  padding-right: 15px;
}

.porfolio-tip {
  margin-top: 20px;
  display: block;
}

.tip-box--flex {
  justify-content: space-between;
}

.tip-box__img {
  height: -moz-fit-content;
  height: fit-content;
}

.tip-box {
  border-bottom: 1px solid var(--text-text-gray);
}

.porfolio-tip__time--bd {
  border-bottom: unset;
}

.porfolio-tip--pt {
  margin-top: unset;
}

.col-gap {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
@media (max-width: 1100px) {
  .col-gap {
    width: 100%;
  }
}

.porfolio-img {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.porfolio-img__item {
  max-width: 100%;
  transition: all 1s;
  transform: scale(1);
}
.porfolio-img__item:hover {
  transform: scale(1.2);
}
@media (max-width: 1100px) {
  .porfolio-img__item {
    width: 100%;
  }
}

.design-brand__img {
  right: 0;
  position: absolute;
  top: 0;
}

.page-section--design {
  margin-top: 88px;
  background-color: var(--bgbg-light);
}

.design-brand {
  min-height: calc(100vh - 89px);
  position: relative;
}
@media (max-width: 1200px) {
  .design-brand {
    min-height: unset;
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 44%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
@media (max-width: 1200px) {
  .background {
    display: none;
  }
}

.team-box__img {
  border-radius: 25px;
}

.home-brand {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 89px);
}
@media (max-width: 1200px) {
  .home-brand {
    max-width: unset;
    text-align: center;
    padding-top: 100px;
    height: calc(50vh - 89px);
  }
}
.home-brand__title {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.08; /* 108.333% */
  letter-spacing: -2px;
  padding-bottom: 25px;
}
@media (max-width: 1599px) {
  .home-brand__title {
    padding-bottom: 0;
  }
}
@media (max-width: 991px) {
  .home-brand__title {
    font-size: 62px;
  }
}
@media (max-width: 768px) {
  .home-brand__title {
    font-size: 54px;
  }
}

.home-brand__content {
  padding-top: 25px;
  font-family: DM Sans;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding-bottom: 20px;
}
@media (max-width: 1599px) {
  .home-brand__content {
    font-size: 14px;
  }
}

.home-brand__discover {
  padding-top: 50px;
  gap: 10px;
  align-items: center;
}
@media (max-width: 1599px) {
  .home-brand__discover {
    padding-top: 30px;
  }
}
@media (max-width: 1200px) {
  .home-brand__discover {
    justify-content: center;
    padding-bottom: 100px;
  }
}

.home-brand__play {
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}
.home-brand__play:hover {
  box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
}

.team-social__icon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
}
.team-social__icon:hover {
  color: #000;
}

.home-web {
  gap: 100px;
  padding-top: 40px;
}
@media (max-width: 991px) {
  .home-web {
    flex-wrap: wrap;
  }
  .home-web .website {
    text-align: center;
  }
}

.home-web__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3; /* 127.778% */
  letter-spacing: -1px;
  color: var(--text-heading);
  padding-bottom: 20px;
}

.website__brand {
  display: inline-block;
  transform: translateY(20%);
}

.website__note {
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 30%;
  top: -5%;
}
@media (max-width: 991px) {
  .website__note {
    float: unset;
  }
}

.home-web__right {
  min-width: 570px;
}

.home-web__left {
  position: relative;
  width: 100%;
}
@media (max-width: 991px) {
  .home-web__left {
    display: none;
  }
}

.dots-img--web {
  transform: translateY(-47px);
  left: 75%;
  width: 114px;
  bottom: 0;
  z-index: -1;
}

.home-web__content {
  font-size: 18px;
  letter-spacing: -0.3px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.branding__pen {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--bgbg-gray);
  rotate: 90deg;
  color: #fff;
  position: relative;
}

.branding__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.web-box {
  padding-top: 8px;
  gap: 30px;
}
@media (max-width: 600px) {
  .web-box {
    flex-wrap: wrap;
  }
}

.branding__cup {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--bgbg-gray);
  color: #fff;
  position: relative;
}

.branding__title {
  padding-top: 30px;
  font-size: 22px;
  line-height: 32px; /* 145.455% */
  letter-spacing: -1px;
  color: var(--text-heading);
}

.branding__content {
  padding-top: 25px;
  opacity: 0.7;
  font-family: DM Sans;
  font-size: 16px;
}

.technologies__content {
  text-align: center;
  font-size: 22px;
  line-height: 1.45; /* 145.455% */
  letter-spacing: -1px;
  padding-bottom: 90px;
}

.technologies__img {
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  border-bottom: 1px solid #E7E5EA;
}
@media (max-width: 991px) {
  .technologies__img {
    flex-wrap: wrap;
  }
}

.project-left__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3; /* 127.778% */
  letter-spacing: -1px;
  color: var(--text-heading);
  padding-top: 90px;
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  .project-left__title {
    padding-top: 0;
  }
}

.project-left__content {
  font-family: DM Sans;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding-bottom: 48px;
}

.project-right__img {
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 576px) {
  .project-right__img {
    gap: 20px;
  }
}

.project-right__top {
  gap: 30px;
}
@media (max-width: 576px) {
  .project-right__top {
    gap: 20px;
  }
}

.project-right {
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 576px) {
  .project-right {
    gap: 20px;
  }
}

.project-left {
  max-width: 270px;
}
@media (max-width: 991px) {
  .project-left {
    max-width: 100%;
  }
}

.project {
  gap: 30px;
}
@media (max-width: 991px) {
  .project {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.graphic-design {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.graphic-design__img {
  max-width: 100%;
  transition: all 2s ease;
  transform: scale(1);
}
.graphic-design__img:hover {
  transform: scale(1.2);
}

.graphic-design__item {
  gap: 15px;
  flex-direction: column;
  color: #fff;
  position: absolute;
  top: 40px;
  left: 30px;
}

.graphic-design__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3; /* 127.778% */
  letter-spacing: -1px;
}
@media (max-width: 768px) {
  .graphic-design__title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .graphic-design__title {
    font-size: 26px;
  }
}

.graphic-design__content {
  font-family: DM Sans;
  font-size: 18px;
  letter-spacing: -0.3px;
}
@media (max-width: 600px) {
  .graphic-design__content {
    font-size: 16pz;
  }
}

.across {
  padding-top: 70px;
  position: relative;
}

@media (max-width: 991px) {
  .across__img {
    width: 80px;
    height: 80px;
  }
}
.across__img {
  position: absolute;
}

.across__img--style1 {
  top: 40%;
}

.across__img--style2 {
  top: 30%;
  left: 10%;
}

.across__img--style3 {
  top: 60%;
  left: 15%;
}

.across__img--style4 {
  top: 80%;
  left: 20%;
}

.across__img--style5 {
  top: 25%;
  left: 38%;
}

.across__img--style6 {
  top: 55%;
  left: 42%;
}

.across__img--style7 {
  top: 77%;
  left: 43%;
}

.across__img--style8 {
  top: 40%;
  left: 61%;
}

.across__img--style9 {
  top: 20%;
  left: 75%;
}

.across__img--style10 {
  top: 65%;
  left: 74%;
}

.frame {
  background-image: url("../images/Frame.png");
  position: absolute;
  top: 0;
  background-position: center center;
  left: 0;
  background-position-y: center;
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
}
@media (max-width: 991px) {
  .frame {
    display: none;
  }
}

.page-section--res {
  position: relative;
}

.digital-grid {
  padding: 0 100px;
}
@media (max-width: 1200px) {
  .digital-grid {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .digital-grid {
    padding: 0;
  }
}

.digital-grid__items2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 100px;
}
@media (max-width: 1200px) {
  .digital-grid__items2 {
    grid-gap: 30px;
  }
}
@media (max-width: 991px) {
  .digital-grid__items2 {
    grid-template-columns: 1fr;
  }
}

.item-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  .item-grid1 {
    grid-template-columns: 1fr;
  }
}

.item-grid2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.item-grid1__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img .item-grid1__left:first-child {
  grid-row: 1/span 2;
}

.item-grid1__right {
  display: grid;
  gap: 30px;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 768px) {
  .item-grid1__right {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .row-center {
    justify-content: center;
  }
}

.team-box__box-img {
  border-radius: 3px;
  background-color: var(--colo-bgimg);
  box-shadow: 0 0 50px 0 rgba(177, 177, 177, 0.2);
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
  display: inline-block;
  height: 400px;
}

.team-box:hover .team-box__box-img {
  padding-top: 10px;
}

.testimonial-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1.5fr 1fr 1fr;
  padding: 0 100px;
}
@media (max-width: 1200px) {
  .testimonial-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1100px) {
  .testimonial-grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
@media (max-width: 991px) {
  .testimonial-grid {
    padding: 0;
  }
}
@media (max-width: 567px) {
  .testimonial-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.grid-row-span-2 {
  grid-row: span 2;
  display: flex;
  align-items: center;
}
.grid-row-span-2:nth-child(1) {
  max-width: 270px;
}

@media (max-width: 1100px) {
  .grid-row-span-1 {
    grid-row: span 2;
  }
}/*# sourceMappingURL=style.css.map */