.single-product {
  gap: 130px;
}
.product-left {
  width: 100%;
  min-width: 570px;
}
.product-left__img {
  width: 100%;
}
.product-right__title {
  line-height: 1.19;
  letter-spacing: -0.84px;
  font-weight: 500;
}
.product-right__content {
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 18px;
  color: var(--text-text);
  letter-spacing: -0.3px;
}
.fa-star {
  color: #FFC200;
}
.text-color {
  color: var(--action-blue);
}
.product-right {
  width: 100%;
}
.product-right__text {
  font-size: 16px;
  width: 100%;
}
.product-content__text {
  font-size: 16px;
  width: 100%;
  font-family: "DM Sans";
}
.product-right__text-color {
  color: var(--text-heading);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-top: 40px;
}
.product-circle {
  gap: 10px;
  padding-top: 30px;
  
  padding-bottom: 40px;
}
.product-circle__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  &:nth-last-child(3) {
    background-color:  #F7F5F1;
    stroke: var(--lines-gray-line, #E7E5EA);
  }
  &:nth-last-child(2) {
    background-color:  #5E756F;
    stroke: var(--lines-gray-line, #E7E5EA);
  }
  &:nth-last-child(1) {
    background-color:  #F2E0DC;
    stroke: var(--lines-gray-line, #E7E5EA);
  }
}
.product-input__number {
  width: 98px;
  border-radius: 5px;
  padding: 11px 34px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.7;
}
.fa-solid--top {
  transform: translate(-30px,-5px);
  opacity: 0.7;
}
.fa-solid--bt {
  transform: translate(-46px, 10px);
  opacity: 0.7;
}
.button-transform {
  transform: translateX(-25px);
}
.product-input {
  padding-bottom: 30px;
}
.social-flex {
  display: flex;
  gap: 40px;
}
.social-flex__border {
  border-right: 1px solid var(--text-text);
  height: 16px;
}
.social-flex__right {
  gap: 20px;
}

.product-right__social {
  padding-bottom: 50px;
  border-bottom: 1px solid #E7E5EA;
}
.product-right__catagory--blue {
  color: var(--action-blue);
}
.product-right__tag {
  padding-top: 15px;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E5EA;
}
.product-right__SKU {
  color: var(--text-heading);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.product-right__catagory {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: var(--text-heading);
}
.product-tag__item {
  color: var(--text-heading);
  font-weight: 500;
  font-size: 18px;letter-spacing: 0.4px;
}
.product-tag {
  gap: 40px;
  justify-content: center;
  border-bottom: 1px solid #E7E5EA;
}
.product-tag__item--blue {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: var( --action-green);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    top: -20%;
    transform: translate(-50%, -50%);
  }
}
.menu__items--blog {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: var( --action-green);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    top: -20%;
    transform: translate(-50%, -50%);
  }
}
.product-content {
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E7E5EA;
}
.product-box__title {
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: -0.84px;
  text-align: center;
  padding-bottom: 50px;
}
.subcribe__content {
  font-size: 22px;
}