
.blog-comments {
  border: 1px solid  rgba(97, 119, 152, 0.20);
  padding: 0 30px 50px 30px;
}
.comments__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
  color: var(--text-heading);
  padding-bottom: 30px;
  padding-top: 40px;
}
.blog-box__comment {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
  color: var(--text-heading);
  padding-bottom: 30px;
}
.blog-comments__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
  color: var(--text-heading);
  padding-bottom: 30px;
  padding-top: 40px;

}
.comments__title--bd {
  border-bottom: 1px solid rgba(97, 119, 152, 0.20) ;
}
.comments-title--bd {
  border-bottom: 1px solid rgba(97, 119, 152, 0.20) ;
}
.comments__first {
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 20px;
 font-family: "DM Sans";
 align-items: start;
 gap: 30px;
 display: flex;
}
.comments__first--bd {
  border-bottom: 1px solid rgba(97, 119, 152, 0.20) ;
}

.comments-inf {
  justify-content: space-between;

}
.comments-pd__content {

    padding-top: 25px;
    font-size: 16px;
}
.comments-inf__name {
  color: var(--text-heading);
  font-size: 16px;
}
.comments-inf__date {
  font-weight: 500;
}
.comments-pd__item {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-family: outfit;

}
.comments-pd__reply {
  color: var(--action-blue);
  align-items: center;
  padding-left: 10px;
  padding-top: 40px;
}