.dots-img {
  position: absolute;
}
.dots-img--orange {
  left: 30%;
  bottom: 0%;
  @media (max-width: 1200px) {
    display: none;
    
  }
}
.dots-img--black {
  left: 30px;
  top: 85px;
  @media (max-width: 1200px) {
   display: none;
  }
}
