.page-footer {
  background-color: var(--bgbg-gray);
  padding-top: 70px;
  @media (max-width: 767px) {
    padding-top: 50px;
  }
}
.footer-logo__icon {
  gap: 10px;
}
.footer-logo__item {
  color: #fff;
}
.footer-box__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
  @media (max-width: 576px) {
    font-size: 16px;
  }
}
.footer-box {
  display: flex;
  flex: 10px;
  flex-direction: column;
}
.footer-box__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7; 
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #E7E5EA;
  padding-top: 10px;
  @media (max-width: 576px) {
    font-size: 10px;
  }
}
.footer-newsletter__content {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  color: #E7E5EA;
  line-height: 1.62; /* 162.5% */
  padding-bottom: 25px;
  @media (max-width: 576px) {
    font-size: 12px;
  }
}

.button-form--fs {
  justify-content: flex-start;

}
.footer-newsletter__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
  @media (max-width: 576px) {
    font-size: 16px;
  }
}
.footer-bottom__content {
  color: #E7E5EA;
  font-weight: 400;
}

.footer-bottom {
  justify-content: space-between;
  padding: 27px 0;
  align-items: center;
}

.footer-bottom__icon {
  gap: 20px;
}
.row--border {
  border-bottom: 1px solid var(--text-text);
  padding-bottom: 100px;
}
