.page-footer {
  background-color: var(--bgbg-gray);
}
.footer-logo__icon {
  gap: 10px;
}
.footer-logo__item {
  color: #fff;
}
.footer-box__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
.footer-box__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7; 
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #E7E5EA;
  padding-top: 10px;
}
.footer-newsletter__content {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  color: #E7E5EA;
  line-height: 1.62; /* 162.5% */
  padding-bottom: 25px;
}

.subcrible__btn--fs {
  justify-content: flex-start;

}
.footer-newsletter__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
.footer-bottom__content {
  color: #E7E5EA;
  font-weight: 400;
}

.footer-bottom {
  justify-content: space-between;
  padding: 27px 0;
  align-items: center;
}
.subcribe__content {
  font-size: 22px;
  letter-spacing: -1px;
 
}
.footer-bottom__icon {
  gap: 20px;
}
.row--border {
  border-bottom: 1px solid var(--text-text);
  
}