.banner-overlay {
  background-size: 100% 100%;
  background-image: url("../images/Hero.png");
}

.page-home {
  text-align: center;
}
.banner-center__title {
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
  padding: 15px 0;
}
.banner-flex {
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.banner-center__text-home {
  text-transform: uppercase;
  font-family: outfit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: var(--text-heading);
  margin-right: 20px;
}
.banner-center_text-blog {
  text-transform: uppercase;
  font-family: outfit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  position: relative;
  margin-left: 20px;
  &::before {
    content: "";
    width: 1px;
    height: 15px;
    bottom: 3px;
    position: absolute;
    background-color: #7B88A8;
    left: -20px;
    transform: rotateZ(18deg);

    
  }
}